body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkolivegreen;
    
}

 section div .img-main{
    width: 50px ;
    height: 50px;
    
}

section div #main-name{
    color: darkred;
    
    
    
}